
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Caveat Brush', cursive;
    
    background-color:#ffe5d9;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

header{
    width: 100%;
    height: 100px;
    
}

.header-container{
    background-color: rgba(145, 67, 47, 0.288);
    color: maroon;
    position: fixed;
    height: max-content;
    width: 100%;
    display: flex;
    align-items: center;
    backdrop-filter: blur(3px);
}


.nav{
    background-color: rgba(188, 143, 143, 0.199);
    color: wheat;
    border-radius: 5px;
    margin: 0.3%;
    padding: 05px;
    font-size:large;
    text-decoration: none;
    left: 0;
    height: max-content;
    text-transform: uppercase;
}
.btn-menu{
    margin-right: 10px;
    font-size: 25px;
    color: maroon;
    cursor: pointer;
    display: none;
    margin-inline-start: auto;
}
ul.show{
    top:50px;
}
@media screen and (max-width: 952px){
    .marca{
        font-size: 30px;
        padding-left: 10px;
    
    }
    .nav{
        font-size: 16px;
    
    }

    .redes-container ul li a{
        font-size: 17px !important;
        height: 40px!important;
        display: flex !important;
        align-items: center !important;
        
    }
    .redes-container ul li{
        width: auto!important;
    }

    .derecho{
        font-size: 18px;
    }
}
@media screen and (max-width: 860px){
    .marca{
        font-size: 25px;
        padding-left: 10px;
    
    }
    .nav{
        font-size: 15px;
    }
    .redes-container ul li a{
        font-size: 16px !important;
        height: 35px!important;
        display: flex !important;
        align-items: center !important;
        
    }
    .redes-container ul li{
        width: auto!important;
    }
    .derecho{
        font-size: 16px;
        
    }
}

@media screen and (max-width:666px) {
    .header-container{
        height: 65px;
    }
    .btn-menu{
        display:inline-flex;


    }
    .nav-items{
        position:fixed;
        width: 100vw;
        height: calc(100%-65px);
        background: rgba(188, 143, 143, 0.397);
        top: -100vh;
        text-align: center;
        transition: all 0.7s;
        flex-direction: column;
    }

    .nav-items li{
        margin: 30px 0 0 0;
        line-height: 30px;
    }
    .nav-items li:hover{
        background: none;
    }
    .nav {
        font-size: 20px;
        color: maroon;
        font-weight: bold;
    }
    .nav :hover{
        color: rgba(188, 143, 143, 0.199);
    }
    .marca {
        font-size: 25px;
        padding-left: 0px;
    }
    .redes-container ul li a{
        font-size: 15px !important;
        height: 30px!important;
        display: flex !important;
        align-items: center !important;
        
    }
    .redes-container ul li{
        width: auto!important;
    }
    .derecho{
        font-size: 15px;
    }
    
}

@media screen and (max-width: 666px) and (orientation:landscape) {
    .nav-items li{
        margin: 5px 0 0 0;
    }
    .nav-items{
        overflow: scroll;
        height: calc(100%-65px);
    }
}

.nav-items li:hover{
    
     transition: 0.5s;
    transform: translate(-3px) scale(1.10);
    text-decoration:underline;
}

.nav-conteiner{ 
    display: flex;
    width: 100%;
    justify-content: flex-end;
    position: absolute;
}
.nav-items{
    display: flex;
    list-style: none;

}
.nav-items li{
    margin: 0 5px;
}


.boton{
    background-color: rgba(188, 143, 143, 0.199);
    color: brown;
    border-radius: 5px;
    margin: 0.3%;
    padding: 05px;
    font-size:medium;
    width:max-content;
    text-decoration: none;
    display: flex;
    margin: 0 auto;
}
.boton:hover{
    transform: translate(-3px) scale(1.05);
    box-shadow: 5px 5px 5px rgba(59, 56, 56, 0.432);
    filter:contrast(2);

}
.logo{
    margin-left: 10px;
    width:50px; 
    height:50px;
}

.marca{
    margin-right: 20px;
    margin-left: 5px;
}

.mapa-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;;
}

.mapa{
    width:300px; 
    height:450px; 
    border:solid white;  
    border-radius: 10px;
    display: flex;

}
menu ul{
    color: maroon;
    
}
.sucursal{
    text-decoration: none;
    color: maroon;
}

.sucursal:hover{
    transform: translate(-3px) scale(1.05);
    box-shadow: 5px 5px 5px rgba(59, 56, 56, 0.432);
    filter:contrast(2);

}

menu{
    margin-top: 70px;
    flex-direction: column;

}

footer{
    background-color: rgba(145, 67, 47, 0.288);
    color: brown;
    width: 100%;
    font-size: 20px;
    text-align: center;
    margin-top: 20px;
    display: flex;
    height: 20vh;
    flex-direction: column;
    
}

.derecho{

    color: maroon;
    margin-block-end: auto;
    
}
.torta{
    border-radius: 7px;
    display: flex;
    margin: 0 auto;

}

label, input{
    font-size: 18px;
    color: maroon;
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 7px;
    border: 1px solid rgb(224, 180, 180);

}
h3{
    text-align:left;
    color: maroon;
}
h2{
    text-align:left;
    color: maroon;
    text-decoration:underline;
}
p {
    color: maroon;
    display: flex;
    margin-block-start: auto;
}
.texto{
    color: black;
}
.texto2{
    color: black;
    
}
.form-control{
    padding: 15px;
}
.form-control.success input{
    border-color: #2ecc71;
}

.form-control.error input{
    border-color: #e74c3c;
}
.form-control i{
  visibility: hidden;
}
.form-control.success i.fa-circle-check{
    color: #2ecc71;
    visibility: visible !important;
}
.form-control.error i.fa-circle-exclamation{
    color: #e21e08;
    visibility: visible;
}
.form-control small{
    visibility: hidden;
   
   }
.form-control.error small{
    visibility: visible;
    color: #e74c3c;;
}
input[type=submit]{
    width: 40%;
    background-color: rgba(145, 67, 47, 0.288);
    padding: 15px 10px;
    margin: 0px auto;
    border: none;
    border-radius: 4px;
    cursor: pointer;

}

input[type=submit]:hover{
    background-color: rgba(161, 124, 115, 0.288);
    transition: 0,5s;
    transform: translate(-3px) scale(1.10);
}

form {
    width: 500px;;
    margin: auto;
    border-radius: 5px;
    background-color: rgba(160, 126, 118, 0.13);
    padding: 20px 20px;
    margin-top: 20px;
    color: maroon;
    
    
}
@media screen and (max-width:600px){
    form{
        width: 70%;
        margin: auto;
    }
}

textarea{
    width: 50%;
}

.redes-container{
    display: flex;
    
}

.redes-container ul{
    padding: 0px;
    width: 100%;
}
.redes-container ul li{
    display: inline-block;
    margin: 0 5px;
    width: 50px;
    height: 0px;
    text-align: center;
    justify-content: center;
    
}
.redes-container ul li a{
    display: block;
    padding: 0px 10px;
    background: transparent;
    color: brown;
    line-height: 50px;
    font-size: 18px;
    box-shadow: 0 3px 5px 0px rgba(0, 0, 0, 2);
    transition: 1s;
    
}

.redes-container ul:hover a{
    filter: blur(2px);
}
.redes-container ul li a:hover {
    transform: translate(-3px) scale(1.05);
    box-shadow: 0 5px 0px rgba(59, 56, 56, 0.432);
    filter: none;
}
.redes-container ul li .facebook:hover{
    background: #3b5999;
}
.redes-container ul li .instagram:hover{
    background: #e4405f;
}
.redes-container ul li .twitter:hover{
    background: #55acee;
}
.redes-container ul li .pinterest:hover{
    background: #bd081c;
}
.redes-container ul li .whatsapp:hover{
    background: rgb(56, 180, 25);
}